@use "../global/colors" as c;
@use "../util/" as u;

.features {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: min(80%, 1100px);
	margin: 6rem auto 0;
	position: relative;

	@include u.breakpoint-down(medium) {
		display: flex;
		flex-direction: column;
	}

	@include u.breakpoint-down(mobile) {
		width: 90%; // fix me
	}

	&__left h2 {
		margin-bottom: 1.5rem;

		@include u.breakpoint-down(medium) {
			text-align: center;
		}
	}

	&__left p {
		color: c.$color-gray-dark;
		width: 65%;
		line-height: 1.7;
		margin-bottom: 3rem;

		@include u.breakpoint-down(medium) {
			width: 100%;
			text-align: center;
			gap: 2rem;
		}
	}

	& img {
		max-width: 100%;
	}

	&__bg-image-tablet {
		position: absolute;
		z-index: -10;
		left: -60%;
		top: 50%;
	}
}

.features__right .heading {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	@include u.breakpoint-down(mobile) {
		background: linear-gradient(-90deg, c.$color-red-pale 90%, white 10%);
	}

	&__index {
		background: c.$color-primary;
		border: none;
		border-radius: 100px;
		padding: 0.7rem 1.6rem;
		color: white;
		font-size: 1rem;
		font-weight: bold;
		margin-right: 2rem;

		@include u.breakpoint-down(mobile) {
			margin-right: 1rem;
		}
	}

	&__paragraph {
		padding-left: 6.5rem;
		line-height: 1.7;
		color: c.$color-gray-dark;
		margin-bottom: 2rem;

		@include u.breakpoint-down(mobile) {
			margin-top: 1rem;
			padding: 0;
			margin-bottom: 3rem;
		}
	}
}
