@use "../global/colors" as c;
@use "../util/" as u;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem auto 0;
	width: min(80%, 1100px);
	position: relative;

	&__logo {
		@include u.breakpoint-down(medium) {
			transform: translateY(5px);
		}
	}

	&__menu {
		display: flex;
		gap: 1rem;
		color: c.$color-primary-dark;
		font-size: 1rem;

		& a:hover {
			color: c.$color-gray-dark;
		}

		@include u.breakpoint-down(medium) {
			display: none;
		}
	}

	&__button {
		@include u.button;

		@include u.breakpoint-down(medium) {
			display: none;
		}
	}
}

/*----- Hamburger --------*/
.checkbox {
	position: absolute;
	display: block;
	height: 32px;
	width: 32px;
	right: 20px;
	z-index: 100;
	opacity: 0;
	cursor: pointer;
}

.hamburger-lines {
	display: block;
	height: 26px;
	width: 32px;
	position: absolute;
	right: 20px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include u.breakpoint-up(large) {
		display: none;
	}
}

.hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 10px;
	background: #0e2431;
}

.hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line2 {
	transition: transform 0.1s ease-in-out;
}

.hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.2s ease-in-out;
}

input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
	transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
	transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
	transform: rotate(-45deg);
}

/*----- Modal -------------*/
.header__modal.checked {
	position: fixed;
	top: 10%;
	width: 80vw;
	z-index: 10;
	animation: slidein 0.2s ease-in-out;
}

.header__menu.checked {
	padding: 3rem;
	background-color: white;
	border-radius: 8px;
	width: 70vw;
	display: flex;
	flex-direction: column;
	text-align: center;
	box-shadow: rgba(112, 128, 175, 0.2) 0px 16px 24px 0px;
}

.menu-item.checked {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 3rem;
}

.overlay.checked {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.2s ease-in;
}

@keyframes slidein {
	from {
		margin-top: -100%;
	}

	to {
		margin-top: 0%;
	}
}
