@use "../global" as g;
@use "../util" as u;

.main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: min(80%, 1100px);
	margin: 6rem auto 0;
	position: relative;

	@include u.breakpoint-down(medium) {
		grid-template-columns: 1fr;
		text-align: center;
	}

	&__left {
		@include u.breakpoint-down(medium) {
			order: 1;
		}
	}

	&__left h1 {
		padding-top: 4rem;

		@include u.breakpoint-down(medium) {
			font-size: xxx-large;
		}
	}

	&__left p {
		color: g.$color-gray-dark;
		width: 67%;
		line-height: 1.7;

		@include u.breakpoint-down(medium) {
			margin: 0 auto;
			font-size: larger;
		}
	}

	&__left-button {
		margin-top: 1.5rem;
		@include u.button;
	}

	&__bg-image-tablet {
		position: absolute;
		z-index: -1;
		top: -60%;
		right: -25%;
	}
}
