@use "../global/colors" as c;
@use "../util/mixins" as m;

.simplify {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 8rem;
	background-color: c.$color-primary;
	padding: 5rem;
	color: white;
	position: relative;
	overflow: hidden;

	&__heading {
		margin-bottom: 0;
	}

	&__button {
		@include m.button;
		background-color: c.$color-gray-light;
		color: c.$color-primary;
		font-weight: bold;
		z-index: 2;
	}

	&__bg-image {
		position: absolute;
		left: 20%;
	}
}
