@use "../global/colors" as c;
@use "../util/" as u;

.simplify {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 8rem;
	background-color: c.$color-primary;
	padding: 5rem;
	color: white;
	position: relative;
	overflow: hidden;

	@include u.breakpoint-down(medium) {
		margin-top: 5rem;
		flex-direction: column;
		gap: 2rem;
	}

	@include u.breakpoint-down(mobile) {
		margin-top: 3rem;
		padding: 3rem;
	}

	&__heading {
		@include u.breakpoint-down(small) {
			font-size: 2.2rem;
		}
	}

	&__button {
		@include u.button;
		background-color: c.$color-gray-light;
		color: c.$color-primary;
		font-weight: bold;
		z-index: 2;
	}
}

.simplifyBackground {
	background-image: url("../images/bg-simplify-section-desktop.svg");
	background-repeat: no-repeat;

	@include u.breakpoint-down(small) {
		background-image: url("../images/bg-simplify-section-mobile.svg");
	}
}
