@use "../global/colors" as c;
@use "../util/" as u;

.simplify {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 8rem;
	background-color: c.$color-primary;
	padding: 5rem;
	color: white;
	position: relative;
	overflow: hidden;

	@include u.breakpoint-down(medium) {
		margin-top: 5rem;
		flex-direction: column;
		gap: 2rem;
	}

	@include u.breakpoint-down(small) {
		margin-top: 3rem;
	}

	&__heading {
		margin-bottom: 0;

		@include u.breakpoint-down(small) {
			font-size: 2.2rem;
		}
	}

	&__button {
		@include u.button;
		background-color: c.$color-gray-light;
		color: c.$color-primary;
		font-weight: bold;
		z-index: 2;
	}

	&__bg-image {
		position: absolute;
		left: 20%;

		@include u.breakpoint-down(small) {
			display: none;
		}
	}
}
