@use "../global/colors" as c;
@use "../util" as u;

.testimony {
	width: 100vw;
	margin-top: 10rem;
	position: relative;

	overflow: hidden;

	@include u.breakpoint-down(medium) {
		margin-top: 7rem;
	}

	@include u.breakpoint-down(mobile) {
		margin-top: 3rem;
	}

	&__heading {
		text-align: center;
		margin-bottom: 8rem;

		@include u.breakpoint-down(medium) {
			font-size: 2rem;
		}

		@include u.breakpoint-down(mobile) {
			margin-bottom: 6rem;
		}
	}

	&__button {
		@include u.button;
		display: flex;
		margin: 2rem auto;
	}
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	width: 80vw;
	margin: 0 auto;
	transform: translateX(0px);
	transition: all 0.2s ease-out;

	@include u.breakpoint-down(medium) {
		display: flex;
		flex-direction: column;
		gap: 7rem;
	}

	@include u.breakpoint-down(mobile) {
		display: inline-flex;
		flex-direction: row;
		height: 30vh;
		gap: 0;
	}

	&__slide {
		background-color: c.$color-gray-light;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;

		@include u.breakpoint-down(mobile) {
			min-width: 100vw;
			padding: 0 1rem;
			user-select: none;
		}
	}

	&__slide img {
		max-width: 20%;
		margin-top: -55px;
		margin-bottom: 1rem;

		@include u.breakpoint-down(large) {
			margin-top: -35px;
		}

		@include u.breakpoint-down(medium) {
			margin-top: -60px;
		}

		@include u.breakpoint-down(mobile) {
			margin-top: -50px;
		}
	}

	&__slide-text {
		padding: 0 1rem 1rem;

		color: c.$color-gray-dark;
		line-height: 1.7;
		margin-top: 1rem;

		@include u.breakpoint-down(mobile) {
			padding: 0 1rem 1rem;
		}
	}
}

.dots {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	opacity: 0;

	@include u.breakpoint-down(mobile) {
		opacity: 1;
	}
}

.dots__dot {
	border: 2px solid c.$color-primary;
	background-color: white;
	opacity: 0.7;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	margin-right: 1.75rem;
	transition: all 0.2s;

	&:last-child {
		margin: 0;
	}

	&--active {
		background-color: c.$color-primary;
		opacity: 1;
	}
}
