@use "../global/colors" as c;
@use "../util" as u;

.testimony {
	margin-top: 10rem;

	@include u.breakpoint-down(medium) {
		margin-top: 7rem;
	}

	@include u.breakpoint-down(mobile) {
		margin-top: 3rem;
	}

	&__heading {
		text-align: center;
		margin-bottom: 8rem;

		@include u.breakpoint-down(medium) {
			font-size: 2rem;
		}

		@include u.breakpoint-down(mobile) {
			font-size: 2rem;
			margin-bottom: 6rem;
		}
	}

	&__button {
		@include u.button;
		display: flex;
		margin: 0 auto;
		margin-top: 3rem;
	}
}

.carousel {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	width: 80vw;
	margin: 0 auto;

	@include u.breakpoint-down(medium) {
		display: flex;
		flex-direction: column;
		gap: 5rem;
	}

	&__slide {
		background-color: c.$color-gray-light;
		transition: 200ms opacity ease-in-out;
		transition-delay: 200ms;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__slide img {
		width: 20%;
		margin-top: -30px;
		margin-bottom: 1rem;

		@include u.breakpoint-down(medium) {
			margin-top: -70px;
		}

		@include u.breakpoint-down(mobile) {
			margin-top: -30px;
		}
	}

	&__slide-text {
		padding: 0 1rem 1rem;
		color: c.$color-gray-dark;
		line-height: 1.7;
		margin-top: 1rem;
	}

	&__slide[data-active] {
		opacity: 1;
		z-index: 0;
		transition-delay: 0ms;
	}
}

/*----- Carousel Button -------------*/
.carousel__btn {
	display: none;
	position: absolute;
	background: none;
	border: none;
	font-size: 4rem;
	top: 50%;
	z-index: 2;
	transform: translateY(-50%);
	color: rgb(255 255 255 / 0.5);
	cursor: pointer;
	border-radius: 0.25rem;
	padding: 0 0.5rem;
	background-color: rgb(0 0 0 / 0.1);
}

.carousel__btn:hover,
.carousel__btn:focus {
	color: white;
	background-color: rgb(0 0 0 / 0.2);
}

.carousel__btn:focus {
	outline: 1px solid black;
}

.carousel__btn.prev {
	left: 1rem;
}
.carousel__btn.next {
	right: 1rem;
}
