@use "../util/" as u;

$font: "Be Vietnam Pro", sans-serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: $font;
	height: 100%;
	width: 100%;
}

ul,
ol {
	padding: 0;
	list-style: none;
}

.mainBackground {
	background-image: url("../images/bg-tablet-pattern.svg"),
		url("../images/bg-tablet-pattern.svg");
	background-position: top -200px right -120px, top 1000px left -500px;
	background-repeat: no-repeat;

	@include u.breakpoint-down(mobile) {
		max-width: 100%;
		background-size: 100%;
		background-position: 80px -20px, top 450px left 250px;
	}
}

// .featuresBackground {
// 	background: url("../images/bg-tablet-pattern.svg") no-repeat;
// 	background-position: top 1000px left -500px;

// 	@include u.breakpoint-down(mobile) {
// 	}
// }
