$font: "Be Vietnam Pro", sans-serif;

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: $font;
	background: url("../images/bg-tablet-pattern.svg") no-repeat top -150px right -50px;
}

ul,
ol {
	padding: 0;
	list-style: none;
}
