// COLOR VARIABLES
$color-primary: hsl(12, 88%, 59%);
$color-primary-dark: hsl(228, 39%, 23%);

$color-gray-light: hsl(0, 0%, 97%);
$color-gray-dark: hsl(227, 12%, 61%);
$color-blue-dark: hsl(233, 12%, 13%);
$color-red-pale: hsl(13, 100%, 96%);
